# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv
venv/

# Version control
.git
.gitignore

# IDEs
.idea/
.vscode/

# Environment / secrets
.env
.env.*
!.env.example

# Build / cache
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# NPM
node_modules
frontend/node_modules

# Docs / misc
README.md
insomnia_collection.yaml
